@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F6F3EA;
  height: 100vh;
}

.loader {
  color: #FFC236;
  background-color: #2a2a2a;
  height: 100vh;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
}

.loader h1 {
  font-size: clamp(1.5rem, 6.5vw, 3.5rem);
}

.hide {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.nav-container {
  padding: 15px Min(8%, 8rem);
}

.main-nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.main-nav-bar .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.main-nav-bar .nav-bar img {
  height: 45px;
}

.main-nav-bar .nav-bar #menu {
  font-size: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-nav {
  width: 20vw;
  height: 100vh;
  background-color: #5f5e58;
  position: fixed;
  display: none;
  right: 0;
  z-index: 98;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}

.side-nav .content ul li {
  list-style: none;
  line-height: 2.5;
  border-bottom: 1px #FFC236 solid;
}

.side-nav .content ul li a {
  text-decoration: none;
  color: #E8D6AF;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 600;
}

.side-nav .content ul li #arrow-down {
  font-size: clamp(0.9rem, 3vw, 1.9rem);
  color: #E8D6AF;
}

.side-nav .content ul li:nth-child(1) {
  border-top: 1px #FFC236 solid;
}

.side-nav .content ul #drop-down-items {
  border-bottom: 1px #FFC236 solid;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav .content ul #drop-down-items li {
  background-color: rgba(63, 62, 58, 0.949);
}

.side-nav .content ul li:hover a {
  color: #FFC236;
}

.side-nav .content ul #arrow-down:hover {
  color: #FFC236;
}

.side-nav #clock {
  font-size: 25px;
  font-weight: 600;
  line-height: 2.5;
  color: #E8D6AF;
}

@media (max-width: 1505px) {
  .side-nav {
    width: 100vw;
  }
}

.section-container {
  padding: Min(15%, 12.5rem);
}

.landing {
  background-image: url("../IMG & VIDS/Stock Img/time-wasted.jpg");
  background-color: #69696966;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.landing #top {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.landing #top h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  color: #FFC236;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
}

.landing #bottom {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .simple-anim {
  -webkit-animation: simple 1s forwards linear;
          animation: simple 1s forwards linear;
}

@-webkit-keyframes simple {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes simple {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.landing .flip-anim {
  -webkit-animation: flipAnim 0.48s forwards linear;
          animation: flipAnim 0.48s forwards linear;
}

@-webkit-keyframes flipAnim {
  0% {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    opacity: 0.35;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes flipAnim {
  0% {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
    opacity: 0.35;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

.workshop-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #E8D6AF), color-stop(120%, #FFC236));
  background: linear-gradient(180deg, #E8D6AF 5%, #FFC236 120%);
}

.workshop-info h1 {
  font-size: clamp(2.3rem, 6.5vw, 5rem);
  line-height: 1;
}

.workshop-info .short-info {
  text-align: center;
  padding: Min(8%, 10rem);
  padding-bottom: 0;
  font-size: clamp(2.5rem, 7vw, 5.3rem);
  line-height: 1.3;
}

.workshop-info .goals {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: Min(8%, 10rem);
}

.workshop-info .goals .list {
  margin-top: 20px;
  font-size: clamp(1.3rem, 5vw, 3rem);
}

.workshop-info .goals .list ul {
  list-style-position: outside;
}

.workshop-info .goals .list ul li {
  line-height: 1.5;
}

.benefits {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: Min(8%, 12.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.benefits .left-sub-section {
  margin: 10px;
  width: 30%;
}

.benefits .left-sub-section img {
  height: 85%;
  width: 100%;
}

.benefits .right-sub-section {
  padding: 10px 0 10px 8%;
  width: 70%;
}

.benefits .right-sub-section h1 {
  font-size: clamp(2.3rem, 6.5vw, 4.8rem);
  line-height: 1;
}

.benefits .right-sub-section .list {
  margin-top: 20px;
  font-size: clamp(1.3rem, 5vw, 3rem);
}

.benefits .right-sub-section .list ul {
  list-style-position: outside;
}

.benefits .right-sub-section .list ul li {
  line-height: 1.5;
}

@media (max-width: 1345px) {
  .benefits .left-sub-section {
    display: none;
  }
  .benefits .right-sub-section {
    width: 100%;
  }
}

.feedback {
  width: 100%;
  height: 100vh;
  position: relative;
}

.feedback h1 {
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback p {
  color: gray;
  font-size: 17px;
  font-style: italic;
}

.feedback .cards-cycle {
  padding: 4.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback .cards-cycle .cards {
  height: 20rem;
  width: Min(100%, 43rem);
  background-color: #E8D6AF;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: none;
}

.feedback .cards-cycle .cards .message {
  height: 70%;
}

.feedback .cards-cycle .cards .message h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1.8rem, 6.75vw, 2.3rem);
}

.feedback .cards-cycle .cards .participant {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback .cards-cycle .cards .participant img {
  height: 90%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback .cards-cycle .cards .participant p {
  font-style: normal;
  padding: .8rem;
}

.feedback .cards-cycle .btn-nav {
  padding-top: 1.5rem;
}

.feedback .cards-cycle .btn-nav .dot-btn {
  background-color: #fff;
  opacity: .8;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 3px;
  border: 4px solid #FFC236;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.feedback .cards-cycle .btn-nav .dot-btn:hover {
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback .cards-cycle .btn-nav .active {
  background-color: white;
  opacity: 1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback svg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.fade-in-anim {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: .45;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: .45;
  }
  to {
    opacity: 1;
  }
}

.section-one {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section-one .main-content {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
}

.section-one .main-content h1 {
  font-size: clamp(2.35rem, 5.75vw, 5.625rem);
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-one .main-content #cycle {
  -webkit-text-decoration: underline #E8D6AF;
          text-decoration: underline #E8D6AF;
}

.section-one .main-content button {
  font-size: clamp(1.25rem, 4vw, 2.1875rem);
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  width: Min(40vw, 18.125rem);
  height: Min(13vw, 4.875rem);
  background-color: #E8D6AF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-one svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section-two {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section-two .main-content {
  padding-top: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section-two .main-content .left {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.section-two .main-content .left .workshops h1 {
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: auto;
}

.section-two .main-content .left .workshops button {
  font-size: clamp(1.25rem, 4vw, 2.1875rem);
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  width: Min(40vw, 18.125rem);
  height: Min(13vw, 4.875rem);
  background-color: #E8D6AF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-two .main-content .left #none {
  display: none;
}

.section-two .main-content .right {
  width: 20%;
  text-align: center;
}

.section-two .main-content .right #arrow-btn {
  color: #E8D6AF;
  font-size: clamp(4.3rem, 10vw, 12.5rem);
  cursor: pointer;
}

.section-two .main-content .right #arrow-btn:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-two svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.sign-up {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFC236;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: Min(3%, 5rem) Min(15%, 12.5rem) Min(7%, 8rem) Min(15%, 12.5rem);
}

.sign-up .text {
  width: 50%;
  padding: 0 .5rem;
}

.sign-up .text h1 {
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up .text p {
  font-size: clamp(1.3rem, 4vw, 2.3rem);
}

.sign-up .form {
  width: 50%;
  padding: 0 0.5rem;
}

.sign-up .form form {
  background-color: #F6F3EA59;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up .form form .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up .form form .questions label {
  font-size: clamp(1.85rem, 5vw, 2.8rem);
  font-weight: 500;
}

.sign-up .form form .questions p {
  color: gray;
  font-style: italic;
}

.sign-up .form form .questions input {
  padding: .3rem;
  font-size: 1.3rem;
}

.sign-up .form form .questions .required {
  color: red;
  font-style: italic;
}

.sign-up .form form .submit-button {
  background-color: #E8D6AF;
  border: none;
  border: 2px black solid;
  border-radius: .9rem;
  margin-top: 1rem;
  width: 100%;
  height: clamp(2rem, 5vw, 3rem);
  font-size: clamp(1.1rem, 5vw, 1.5rem);
  cursor: pointer;
}

@media (max-width: 1080px) {
  .sign-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sign-up .text,
  .sign-up .form {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 385px) {
  .section-container,
  .benefits,
  .sign-up {
    padding: 1rem;
  }
  .section-two .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-two .main-content .right {
    padding-top: 1rem;
  }
}

#dry-run-page .section-one {
  height: 28rem;
  width: 100%;
  background: linear-gradient(90.88deg, #FFC236 17.68%, #E8D6AF 86.1%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dry-run-page .section-one h1 {
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#dry-run-page .section-container {
  padding: Min(7%, 8rem) Min(15%, 12.5rem) Min(7%, 8rem) Min(15%, 12.5rem);
}

#dry-run-page .main-content {
  background-color: #eee;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 100%;
}

#dry-run-page .main-content h1 {
  font-size: clamp(2.3rem, 2.85vw, 5.2rem);
}

#dry-run-page .main-content p {
  color: #242526;
  font-size: clamp(1.3rem, 1.35vw, 2.15rem);
  line-height: 1.8;
}

#dry-run-page .main-content .overall-feedback {
  padding-top: 0.5rem;
}

#dry-run-page .main-content .usability-responses {
  padding-top: 2.3rem;
}

#dry-run-page .main-content .usability-responses .question-and-answer {
  padding: 1.5rem 0;
}

#dry-run-page .main-content .usability-responses .question-and-answer h1 {
  font-size: clamp(2rem, 2vw, 4.8rem);
  font-weight: 500;
}

#dry-run-page .main-content .usability-responses .question-and-answer p {
  padding-top: .2rem;
  text-decoration: underline;
}

#workshop-info-page .section-one {
  height: 28rem;
  width: 100%;
  background: linear-gradient(90.88deg, #FFC236 17.68%, #E8D6AF 86.1%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#workshop-info-page .section-one h1 {
  font-size: clamp(2.9rem, 6.5vw, 5.625rem);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#workshop-info-page .section-container {
  padding: Min(7%, 8rem) Min(15%, 12.5rem) Min(7%, 8rem) Min(15%, 12.5rem);
}

#workshop-info-page .main-content {
  background-color: #eee;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 100%;
}

#workshop-info-page .main-content .question-and-answer {
  padding: 1.5rem 0;
}

#workshop-info-page .main-content .question-and-answer h1 {
  font-size: clamp(2.3rem, 2.85vw, 5.2rem);
}

#workshop-info-page .main-content .question-and-answer p {
  color: #242526;
  font-size: clamp(1.3rem, 1.35vw, 2.15rem);
  line-height: 1.8;
  text-decoration: underline;
}

#workshop-info-page .main-content .question-and-answer .form {
  width: 100%;
  padding: 0 0.5rem;
}

#workshop-info-page .main-content .question-and-answer .form form {
  background-color: #F6F3EA59;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#workshop-info-page .main-content .question-and-answer .form form .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#workshop-info-page .main-content .question-and-answer .form form .questions label {
  font-size: clamp(1.85rem, 5vw, 2.8rem);
  font-weight: 500;
}

#workshop-info-page .main-content .question-and-answer .form form .questions p {
  color: gray;
  font-style: italic;
}

#workshop-info-page .main-content .question-and-answer .form form .questions input {
  padding: .3rem;
  font-size: 1.3rem;
}

#workshop-info-page .main-content .question-and-answer .form form .questions .required {
  color: red;
  font-style: italic;
}

#workshop-info-page .main-content .question-and-answer .form form .submit-button {
  background-color: #E8D6AF;
  border: none;
  border: 2px black solid;
  border-radius: .9rem;
  margin-top: 1rem;
  width: 100%;
  height: clamp(2rem, 5vw, 3rem);
  font-size: clamp(1.1rem, 5vw, 1.5rem);
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */